#chat {
	display: block;
	z-index: 0;
	color: white;
	font-family: sans-serif;
	text-shadow: 1px 1px 0px rgb(0, 0, 0);
	font-size: 2.0vh;
	line-height: 3.0vh;
	position: absolute;
	left: 14vw;
	right: 0px;
	bottom: 6.67vh;
	height: 17vh;
	top: auto;
	width: 86vw;
}
#xchat {
	display: block;
	position: fixed;
	left: auto;
	bottom: auto;
	right: 0px;
	top: 0px;
	text-align: right;
	font-size: 2.0vh;
	line-height: 3.0vh;
	height: 60vh;
}

#chat ul#chat_messages{
	height: 17vh;
	width: auto;
}
#chat input {
	position: fixed;
	bottom: 0px;
	left: 16vw;
	width: 80vw;
}
#chat input#chat_msg {
	width: 80vw;
}
