#chat {
	display: block;
	z-index: 0;
	color: white;
	font-family: sans-serif;
	text-shadow: 1px 1px 0px rgb(0, 0, 0);
	font-size: 2.0vh;
	line-height: 3.0vh;
	position: absolute;
	left: 0px;
	top: 50vh;
	width: 40vw;
	height: 25vh;
}
#xchat {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 2.0vh;
	line-height: 3.0vh;
	height: 60vh;
}

#chat ul#chat_messages{
    height: 17vh;
    width: auto;
}
#chat input {
    position: fixed;
    top: 75vh;
    left: 0vw;
    width: 40vw;
}
#chat input#chat_msg {
}
