#chat {
	display: block;
	z-index: 0;
	color: white;
	font-family: sans-serif;
	text-shadow: 1px 1px 0px rgb(0, 0, 0);
	font-size: 2.0vh;
	line-height: 3.0vh;
	position: absolute;
	right: 8px;
	text-align: right;
}
#xchat {
	display: block;
	position: fixed;
	left: auto;
	bottom: auto;
	right: 0px;
	top: 0px;
	text-align: right;
	font-size: 2.0vh;
	line-height: 3.0vh;
	height: 60vh;
	text-align: right;
}

#chat ul#chat_messages{
	height: 17vh;
	width: auto;
	text-align: right;
}
#chat input {
	position: relative;
	top: 0px;
	right: 0px;
}
#chat input#chat_msg {
}
